*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(93, 89, 89);
}


img{
    width: 100px;
    height: 100px;
}

marquee{
    height: 100vh;
}